:root {
  --color-blue: #232136;
  --color-blue-white: #2A283E;
  --color-blue-text: #2A3366;
  --color-text-blue-white: #657F92;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-blue);
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}


.font-regular {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;

}

.font-bold {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

.card2 {
  background-color: var(--color-blue-white);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50%;
  left: 50%;
}
.card-text {
  font-size: calc(10px + 2vmin);
  color: var(--color-text-blue-white);
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}
.card-text ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li listcolor {
  color: var(--color-blue-text);
}